
        .container
        {
            font-size:30px;
            background-image: url(back2.jpg);
        }
        .container1
        {
        background-image: url(back2.jpg);
            margin-left:100px;
            margin-right: 100px;
        }
        .form{
        margin-left:20px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 20px;
        position: relative;
        }
        .two
        {
            padding: 30px;
            margin: 40px;
        }
        #three
        {
            color: red;
            font-family: arial;
            text-align: left;
        }  
        #space1
        {
            height:30px;
            margin-left:30;
            width:35px;
        }
 